.home-page {
  background: hsla(300, 100%, 97%, 1);

  background: linear-gradient(
    135deg,
    hsla(300, 100%, 97%, 1) 0%,
    hsla(315, 96%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(300, 100%, 97%, 1) 0%,
    hsla(315, 96%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(300, 100%, 97%, 1) 0%,
    hsla(315, 96%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF2FF", endColorstr="#FC78DB", GradientType=1 );
}

.start-menu {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px;
  text-align: center;
}
